.images {
  width: 500px;
  height: 700px;
  overflow-y: scroll;
  border: 1px solid #aaa;
  img {
    width: 480px;
    height: 242px;
    margin-bottom: 60px;
    background-position: center;
    background-size: cover;
  }
}

.lazy-image {
  display: block;
  background: url('~@/assets/images/loading.gif') no-repeat center center;
}
