@import url(./light.css);

:root {
  --DU-main-bg-color: #1c1c1c;
  --DU-main-text-color: #ffffff;
  --DU-second-text-color: #898d97;
  --DU-main-icon-color: #898d97;
  --DU-main-item-icon-color: #898d97;
  --DU-main-border-color: #2a2a2d;
  --DU-main-bg-primary-color: #3591f4;
  --DU-main-text-primary-color: #3591f4;
  --DU-main-box-border-color: #2a2a2a;
  --DU-main-bg-gray-color: #161616;
}

.Add_DU_Msg .DUBox_Footer_Cancel{
  color: var(--DU-main-text-primary-color) !important;
  border-color: var(--DU-main-text-primary-color) !important;
  transition: color .3s, border-color .3s;
}

.Add_DU_Msg .DUBox_Footer_Cancel:hover{
  color: rgba(53, 145, 244, 0.7) !important;
  border-color: rgba(53, 145, 244, 0.7) !important;
}

.Add_DU_Msg #TextArea_Element .AppBox{
  border: none !important;
  background-color: var(--DU-main-bg-gray-color);
}

.Add_DU_Msg #Radio_Element .date_time_icon svg{
  fill: rgba(255, 255, 255, 0.3);
}


.layui-laydate{
  &.layui-laydate, .layui-laydate-hint{
    background-color: #1c1c1c !important;
    border: none;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%), 0 9px 28px 8px rgb(0 0 0 / 20%);
    /* box-shadow: 0px 3px 6px -2px #dde6f0; */
  }
  .layui-laydate-header{
    border-bottom-color: #303030 !important;
    background-color: var(--DU-main-bg-color) !important;
    span{
      color: rgba(255, 255, 255, 0.85) !important;
    }
    span, i{
      &:hover{
        color: #3591f4 !important;
      }
    }
    i{
      font-size: 14px;
      svg{
        fill: rgba(255, 255, 255, 0.4);
        &:hover{
          fill: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
  .layui-laydate-content{
    th{
      color: rgba(255, 255, 255, 0.65);
    }
    .laydate-day-prev, .laydate-day-next {
      color: rgba(255, 255, 255, 0.3);
      &:hover div{
        background-color: #161616 !important;
        color: rgba(255, 255, 255, 0.3);
      }
    }
    td {
      color: rgba(255, 255, 255, 0.65);
      &:not(.layui-this):hover div{
        background-color: #161616 !important;
        color: rgba(255, 255, 255, 0.65);
      }
    }
    td.layui-this{
      background: #1890ff !important;
      border-radius: 2px;
      &>div{
        background: #1890ff !important;
        border-radius: 2px;
      }
    }
    .laydate-year-list, .laydate-month-list{
      background-color: #1c1c1c;
      li{
        color: rgba(255, 255, 255, 0.65);
        &:not(.layui-this):hover{
          background-color: #161616 !important;
          color: rgba(255, 255, 255, 0.65);
        }
      }
      .layui-this{
        background: #1890ff !important;
        border-radius: 2px;
        &>div{
          background: #1890ff !important;
          border-radius: 2px;
        }
      }
    }
    .laydate-time-list {
      background-color: #1c1c1c;
      li{
        color: rgba(255, 255, 255, 0.65) !important;
      }
      &>li>p{
        color: rgba(255, 255, 255, 0.65) !important;
      }
      li ol{
        border-color: #303030;
      }
      li:hover{
        background-color: transparent;
        color: #898d97;
      }
      li ol li:hover{
        background-color: #161616;
      }
      li.layui-this{
        background: rgba(53,145,244,.1) !important;
        color: rgba(255, 255, 255, 0.65) !important;
      }
    }
  }
  .layui-laydate-footer{
    border-top-color: #303030;
    span{
      background: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.8);
    }
    .laydate-btns-time{
      border: none;
      color: #3591f4 !important;
    }
    .laydate-disabled{
      color: #898d97 !important;
      &:hover{
        color: #898d97 !important;
      }
    }
    .laydate-btns-now{
      &:hover{
        color: #ffffff;
      }
    }
    .laydate-btns-confirm{
      color: #ffffff;
      background: #3591f4;
      border-radius: 2px;
      line-height: 26px;
    }
  }
}