.UtilsCom {
  .CanvesToImage {
    width: 280px;
    :global {
      .ant-card-body {
        text-align: center;
      }
    }
    .QrcodeDownload {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 18px;
      background: #ffffff;
      border: 1px solid #666666;
      border-radius: 16px;
      .cardTitle {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
      }
      .cardFooter {
        text-align: center;
      }
    }
    .primaryBtn {
      margin-top: 10px;
    }
  }
}
